doctype html
html
  head
    title= title
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
    link(href='/stylesheets/pricing.css' rel='stylesheet')
    script(type='text/javascript').
        console.log("Flag is:", !{flag});
        console.log("User is:", !{user});
  body
    block content
